--extra-index-url https://download.pytorch.org/whl/nightly/cpu
-f https://data.pyg.org/whl/torch-2.4.0+cpu.html

beartype==0.17.0
expecttest==0.1.3
hypothesis
mypy==1.9.0
numpy==1.24.4
onnx==1.16.1
onnxruntime==1.16.3
onnxscript==0.1.0.dev20240418
Pillow==10.3.0
requests==2.32.0
torch_geometric==2.5.3
transformers==4.40.0

torch-scatter==2.1.2
torch==2.6.0.dev20241031
# since 20240730, torchvision(nightly package) no longer supports python3.8
torchvision==0.20.0.dev20241031
# torch_npu 目前master分支仅支持编译安装
